<div class="delete">
  <div class="title">Are you sure you want to delete <%= game.title%></div>
  <form action="" method="POST">
    <input type="hidden" id="gameID" name="gameID" value="<%= game._id%>" />
    <button class="button">Delete</button>
  </form>
</div>
