<div class="formContainer">
  <form action="" method="POST" class="form">
    <label for="name">
      Name
      <input
        type="text"
        id="name"
        name="name"
        required
        value="<%= undefined=== genre ? '' : genre.name%>"
      />
    </label>

    <button>Submit</button>
  </form>

  <%if(errors !== undefined){%>
  <ul>
    <%for (const error of errors){%>
    <li><%= error.msg %></li>
    <%}%>
  </ul>
  <%}%>
</div>
