<div class="formContainer">
  <div class="title"><%= title%></div>
  <form action="" method="POST" class="form">
    <label for="genreName">
      Name
      <input
        type="text"
        id="genreName"
        name="genreName"
        required
        value="<%= genre ?  genre.name : '' %>"
      />
    </label>

    <button>Submit</button>
  </form>

  <%if(errors?.length){%>
  <ul>
    <%for (const error of errors){%>
    <li><%= error.msg %></li>
    <%}%>
  </ul>
  <%}%>
</div>
