<div class="sidebar">
 <a href="/catalog/games">All games</a>
 <a href="/catalog/genres">All genres</a>
 <a href="/catalog/game/create">Add game</a>
 <a href="/catalog/genre/create">Add genre</a>
  </div>
</div>
